*{
    --bckgrnd:#BFD7EA;
    --txt: #1d3557;
    --accent:#e63946;
    --lite: rgb(211, 198, 12);

}
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
body{
    background-color:var(--bckgrnd);
    color:var(--txt);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:0;
}
p{
  text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--bckgrnd);
    background-color:var(--txt);
    margin-left: 0;
    margin-right: 0;
    width:100%;
    padding: 5px;
  }
  nav{
    display: inline;
    padding:10px;
    font-weight: bold;
  }
  nav > a{
    color:var(--bckgrnd);
    margin: 5px;
    font-size:14pt;
  }
  nav > a:hover{
    color:var(--txt);
    background-color:var(--bckgrnd);
  }
 a{
    font-weight: bold;
    color:var(--accent);
 }
 a:hover{
    color:var(--bckgrnd);
    background-color: var(--accent);
 }
 img{
    height: 225px;
    width:175px;
 }
 #book{
  display:inline-block;
  text-align: center;
  margin: 10px;
  width: 30%;
 }
 #books{
  display:flex;
  justify-content: center;
 }
 #logo{
  width:500px;
  height:200px;
  object-fit:cover;
 }
 #home{
  text-align:center;
 }
 #pg-hd, #pg-descr{
    font-style:italic;
    display:flex;
    justify-content: center;
    text-align: center;
 }
 #essays, #vids, #vocab, #tmln, #teachers, #extra{
  margin: auto;
  width: 75%;
  text-align:center;
 }
 #examples{
  display:inline-block;
  margin: 20px;
 }
 #tlabel > td{
  background-color: var(--txt);
  color: var(--bckgrnd);
  border: solid 3px var(--txt);
 }
 table{
  margin:auto;
  width: 90%;
 }
#descr{
  font-size: .9rem;
}
.war{
  color: var(--accent);
}
.pres{
  background-color: var(--lite);
}
span{
  display: inline-block;
  margin-left: 10px;
  margin-right:10px;
}
td{
  border: solid 1px var(--txt);
  padding: 3px;
}
#war > td{
 border: solid 2px var(--accent);
 color: var(--accent);
}
#election > td{
  background-color: var(--lite);
 }
.yr, .connections{
  font-weight: bold;
}
td.yr, td.fig, td.vocab{
  width: 100px;
}
td.event{
  width: 225px;
}
td.connections{
  width: 350px;
}
